/* *{
    color: pink;
}

h1{
    color:red;
}

p{
    color:blueviolet;
}

button{
    color: rgb(204, 218, 18);
    background-color: green;
}

body{
    background-color: black;
}
 */


/* #box{
    background-color: blue;
} */


/* .heading {
    color: red;
} */


/* button{
    color: green;
} */


/* h1{
    text-align: center;
    text-decoration: red dotted underline;
}

p{
    text-align: center;
}

#one{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: normal;
    text-transform: lowercase;
}

#two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    line-height: normal;
}

#three{
    font-size: 25px;
    line-height: normal;
}

a{
    text-decoration: none;
}

#h1{
    font-weight: normal;
}

#h2{
    font-weight: bolder;
}

#h3{
    font-weight: lighter;
}

#h4{
    font-weight: 800;
} */

/* Practice set 2 */
/* *{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
} */

/* div{
    text-align: center;
    height: 100px;
    width: 200px;
    background-color: pink;
    border-width: 2px;
    border-style: solid;
    border-color: brown;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding: 30px 20px 40px 10px;
    margin-top: 50px;
    margin-bottom: 100;
}

h1{
    text-align: center;
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: dotted;
    border-color: blue;
    border: 3px dotted blue;
}  */

/* practice set 3 */

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

/* *{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

a{
    margin-right: 200px;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

button{
    background-color:  #f08804;
} */

div{
    background-color: pink;
    display: inline;
}

button{
    display: block;
}